{% load static %} 
{% block sidebar %}
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title" key="Main">Main</li>
                            <li>
                                <a href="{% url 'index' %}" class="waves-effect">
                                    <i class="ti-home"></i><span class="badge rounded-pill bg-primary float-end"></span>
                                    <span key="Dashboard">Inicio</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'home' %}" class="waves-effect">
                                    <i class="ti-settings"></i><span class="badge rounded-pill bg-primary float-end"></span>
                                    <span key="Dashboard">Config</span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'agregar' %}" class="waves-effect">
                                    <i class="ti-plus"></i><span class="badge rounded-pill bg-primary float-end"></span>
                                    <span key="Dashboard">Agregar Empleo</span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'lista_postulantes' user %}" class="waves-effect">
                                    <i class="ti-list"></i><span class="badge rounded-pill bg-primary float-end"></span>
                                    <span key="Dashboard">Postulantes</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>

{% endblock %}