{% load static %} 
{% block content %}
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title" key="Main">Principal</li>
                         
                            <li>
                                <a href="{% url 'index' %}" class="waves-effect">
                                    <i class="ti-home"></i><span class="badge rounded-pill bg-primary float-end"></span>
                                    <span key="Dashboard">Inicio</span>
                                </a>
                            </li>

                            <li class="menu-title" key="DatosPersonales">Paso 1</li>
                    
                            <li>
                                
                                <a href="{% url 'DatosPer' %} " class="waves-effect">
                                    <i class="ti-user"></i><span class="badge rounded-pill bg-primary float-end"></span>
                                    <span>Datos Personales</span>
                                </a>
                             
                            </li>

                            <li class="menu-title" key="DatosPersonales">Paso 2</li>

                            <li>
                                <a href="{% url 'Experiencias' %}" class="waves-effect">
                                    <i class="ti-briefcase"></i><span class="badge rounded-pill bg-primary float-end"></span>
                                    <span>Datos Laborales</span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'Educaciones' %}" class="waves-effect">
                                    <i class="ti-book"></i><span class="badge rounded-pill bg-primary float-end"></span>
                                    <span>Datos Educación</span>
                                </a>
                            </li>

                            <li class="menu-title" key="DatosPersonales">Paso 3</li>

                            <li>
                                
                                <a href="{% url 'subirCurriculum' %} " class="waves-effect">
                                    <i class="ti-archive"></i><span class="badge rounded-pill bg-primary float-end"></span>
                                    <span>Curriculum</span>
                                </a>
                             
                            </li>

                            <li class="menu-title" key="DatosPersonales">Información</li>

                            <li>
                                
                                <a href="{% url 'postulaciones'%} " class="waves-effect">
                                    <i class="ti-folder"></i><span class="badge rounded-pill bg-primary float-end"></span>
                                    <span>Mis postulaciones</span>
                                </a>
                             
                            </li>

                          
                   
                          
                            

                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>

{% endblock %}