{% extends 'partials/base.html' %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    <br>
    <center>
    <h1>Experiencia Laboral</h1>
    
    <div class="col-4 mb-4" >

{{form.as_p}}


    <br>
    <center> 
        
{% csrf_token %}
<input type="hidden" name="postulante" value="{{ postulante.id }}">
<a href="{% url 'DatosAd' request.user.perfil_postulante.id %}"><button class="btn btn-success" type="submit">Guardar</button></a>
<a href="{% url 'Experiencias' %}" class="btn btn-danger">Cancelar</a>

</form>

</div>
<br><br>
</center>
{% endblock %}