{% extends 'partials/base.html' %}

{% block content %}
<br>
<center>
<h1>Datos Personales</h1>

<div class="col-4 mb-4" >

<form action="" method="POST" enctype="multipart/form-data">
{{ form.as_p }}
{% csrf_token %}
<a href=""><button class="btn btn-success" type="submit">Guardar</button></a>
<a href="{% url 'home' %}"><button class="btn btn-danger" type="button">Cancelar</button></a>

</form>
    
</div>
<br><br>
</center>

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var telefonos = document.querySelectorAll('.telefono');

        for (var i = 0; i < telefonos.length; i++) {
            telefonos[i].setAttribute('pattern', '[0-9]+');
            telefonos[i].setAttribute('title', 'Por favor, ingrese solo números');
        }
    });
</script>
{% endblock %}