{% extends 'partials/base.html' %}

{% block content %}



 <br>   
 <div class=" mt-4 col-8 m-2">
        <h2>{{persona.first_name}} {{persona.last_name}}</h2>
 </div>
<div class="container mt-4">
        <a href="{% url 'postulanteporempleo' empleo.pk %}" class="btn btn-info">Regresar</a>
        <p></p>
    <div class="card">
      <div class="card-body" style="text-align:left;">
      
        <h5 class="card-title">Detalles Personales</h5>
        <div
                class="table-responsive"
        >
                <table
                        class="table table-primary"
                >
                        <thead>
                                <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Edad</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Ciudad</th>
                                        <th scope="col">Curriculum</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr class="">
                                        <td>{{persona.id }}</td>
                                        <td>{{persona.nombre }}</td>
                                        <td>{{persona.apellido }}</td>
                                        <td>{{persona.edad}}</td>
                                        <td>{{persona.email}}</td>
                                        <td>{{persona.ciudad}}</td>
                                        <td><a href="{{ persona.curriculum.url }}" download><button class="btn btn-success" type="">Ver</button></a></td>
                                </tr>
                        </tbody>
                </table>
        </div>
        
      </div>
    </div>
</div>

<div class="container mt-4">
        <div class="card">
          
          <div class="card-body" style="text-align:left;">
          
            <h5 class="card-title">Experiencia Laboral </h5>
            <div
                    class="table-responsive"
            >
                    <table class="table table-primary">
                            <thead>
                                    <tr>
                                            <th scope="col">Nº</th>
                                            <th scope="col">Cargo</th>
                                            <th scope="col">Empresa</th>
                                            <th scope="col">Pais</th>
                                            <th scope="col">Area</th>
                                            <th scope="col">Fecha Inicio</th>
                                            <th scope="col">Fecha Final</th>
                                            <th scope="col">Certificado Laboral</th>
                                    </tr>
                            </thead>
                            <tbody>
                                {%for e in experiencia %}
                                    <tr class="">
                                            <td>{{forloop.counter}}</td>
                                            <td>{{e.cargo }}</td>
                                            <td>{{e.empresa }}</td>
                                            <td>{{e.pais}}</td>
                                            <td>{{e.area}}</td>
                                            <td>{{e.fecha_inicio}}</td>
                                            <td>{{e.fecha_final}}</td>
                                            <td><a href="{{ e.certificado.url }}" download><button class="btn btn-success" type="">Ver</button></a></td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                    </table>
            </div>
            
          </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="card">
          
          <div class="card-body" style="text-align:left;">
          
            <h5 class="card-title">Formacion Academica</h5>
            <div
                    class="table-responsive"
            >
                    <table
                            class="table table-primary"
                    >
                            <thead>
                                    <tr>
                                            <th scope="col">Nº</th>
                                            <th scope="col">Titulo</th>
                                            <th scope="col">Pais</th>
                                            <th scope="col">Institucion</th>
                                            <th scope="col">Nivel</th>
                                            <th scope="col">Estado</th>
                                            <th scope="col">Descripcion</th>
                                            <th scope="col">Título / Certificado</th>

                                    </tr>
                            </thead>
                            <tbody>
                                {%for edu in educacion %}
                                    <tr class="">
                                            <td>{{forloop.counter}}</td>
                                            <td>{{edu.titulo_edu }}</td>
                                            <td>{{edu.pais_edu }}</td>
                                            <td>{{edu.institucion_edu}}</td>
                                            <td>{{edu.nivel_edu}}</td>
                                            <td>{{edu.estado_edu}}</td>
                                            <td>{{edu.descripcion_edu}}</td>
                                            <td>{% if edu.titulo %}
                                                <a href="{{ edu.titulo.url }}" download>
                                                    <button class="btn btn-success" type="">Ver</button>
                                                </a>
                                                {% endif %}</td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                    </table>
            </div>
            
          </div>
        </div>
    </div>


</div>
        
{% endblock %}