{% extends 'partials/base.html' %}

{% block content %}



 <br>   
 <div class=" mt-4 col-8 m-2">
        <h2>Descripción del Empleo</h2>
 </div>


<div class="container mt-4 mb-5">
        <div class="card">
                <div class="card-header">
                        <h3 class="card-title">{{ empleo.nombre_empleo }}</h3>     
                </div>
                <div class="card-body">
                <p class="card-text"><strong>Requisitos:</strong> {{ empleo.descripcion_empleo }}</p>
                <p class="card-text"><strong>Fecha:</strong> {{ empleo.fecha_empleo }}</p>
                <p class="card-text"><strong>Departamento:</strong> {{ empleo.area_empleo }}</p>
                <p class="card-text"><strong>Modalidad:</strong> {{ empleo.modalidad_empleo}}</p>
                <p class="card-text"><strong>Tiempo de Contrato:</strong> {{ empleo.tiempo_empleo }} meses</p>
                <p class="card-text"><strong>Ciudad:</strong> {{empleo.id_ciudad_fk}} </p>
        </div>
        <form method="post" action="{% url 'guardar_postulacion' empleo.nombre_empleo request.user%}">
                {% csrf_token %}
                <!-- Campo oculto para almacenar el empleo_id -->
                <input type="hidden" name="empleo_nombre" value="{{ empleo.nombre_empleo }}">
                <!-- Campo oculto para almacenar el nombre de usuario -->
                <input type="hidden" name="nombre_usuario" value="{{ request.user }}">

                <!-- Botón de envío del formulario -->
                <button type="submit" class="btn btn-primary">Postular</button>
</div>
        
{% endblock %}