{% extends 'partials/base.html' %}

{% block content %}

<br>
<center>
  <h1>Empleos CNE</h1>
  <h3>Santo Domingo</h3>
</center>
{%for p in empleos %} <br>
<div class="container-fluid col-sm-8 mb-6 mb-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{p.nombre_empleo}}</h5>
        <p class="card-text">{{p.descripcion_empleo}}</p>
        <p class="card-text">Area: {{p.area_empleo}}</p>
        <p class="card-text">Modalidad: {{p.modalidad_empleo}}</p>
        <p class="card-text">Tiempo de Trabajo: {{p.tiempo_empleo}} meses</p>
        <p class="card-text">Ciudad: {{p.id_ciudad_fk }}</p>

        {%comment%}
        {%for postulacion in p.postulados.all %}
        {{postulacion}}
        {%endfor%}
        {%endcomment%}

        {% if p.estado == 1 %}
        <button onclick="desactivar('{{ p.id }}')" class="btn btn-dark" >Desactivar</button>
        <!-- <a href="" class="btn btn-dark" onclick="mostrarConfirmacion()">Desactivar</a> -->
        {% else%}
        <button onclick="activar('{{ p.id }}')" class="btn btn-warning">Activar</button>
        <!-- <a href="{% url 'activar' p.id %}" class="btn btn-warning">Activar</a> -->
        {% endif%}
        
        <a href="{% url 'postulanteporempleo' p.id %}" class="btn btn-info">Ver Postulantes</a>
        <a href="{% url 'actualizar' p.id %}" class="btn btn-success">Actualizar</a>
        <button onclick="eliminar('{{ p.id }}')" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
  
 
  <script>
function activar(id) {
        Swal.fire({
            title: '¿Está seguro de Activar este Empleo?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/activar/" + id;
            } else {
                window.location.href = "/home";
            }
        });
    }
    function activar(id) {
        Swal.fire({
            title: '¿Está seguro de Activar este Empleo?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/activar/" + id;
            } else {
                window.location.href = "/home";
            }
        });
    }

    function eliminar(id) {
        Swal.fire({
            title: '¿Está seguro de Eliminar este Empleo?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/eliminar/" + id;
            } else {
                window.location.href = "/home";
            }
        });
    }
    </script>


<!-- <div class="card">
    <h5 class="card-header">{{p.titulo}}</h5>
    <div class="card-body">
      <h5 class="card-title">Contacto: {{p.email}}</h5>
      <p class="card-text">{{p.descripcion}}</p>
      <a href="{% url 'eliminar' p.id %}" class="btn btn-danger">Eliminar</a>
      <a href="{% url 'actualizar' p.id %}" class="btn btn-success">Actualizar</a>
    </div>
  </div> -->

  {%endfor%}
  {% endblock %}
