{% extends 'partials/base.html' %}

{% block content %}

<br>
<center>
  <h1>Empleos CNE</h1>
  <h3>Santo Domingo 2024</h3>
</center>
{%for p in empleos %} <br>
<div class="container-fluid col-sm-8 mb-6 mb-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{p.nombre_empleo}}</h5>
        <p class="card-text">{{p.descripcion_empleo}}</p>
        <p class="card-text">Area: {{p.area_empleo}}</p>
        <p class="card-text">Modalidad: {{p.modalidad_empleo}}</p>
        <p class="card-text">Tiempo de Trabajo: {{p.tiempo_empleo}} meses</p>
        <p class="card-text">Ciudad: {{p.id_ciudad_fk }}</p>

        {%comment%}
        {%for postulacion in p.postulados.all %}
        {{postulacion}}

        {%endfor%}
        {%endcomment%}
        {% if p.estado == 1 %}
        <button onclick="desactivar()" class="btn btn-dark" >Desactivar</button>
        <!-- <a href="" class="btn btn-dark" onclick="mostrarConfirmacion()">Desactivar</a> -->
        {% else%}
        <button onclick="activar()" class="btn btn-warning">Activar</button>
        <!-- <a href="{% url 'activar' p.id %}" class="btn btn-warning">Activar</a> -->
        {% endif%}
        <a href="{% url 'eliminar' p.id %}" class="btn btn-danger">Eliminar</a>
        <a href="{% url 'actualizar' p.id %}" class="btn btn-success">Actualizar</a>
        
        <a href="{% url 'postulanteporempleo' p.id %}" class="btn btn-info">Ver</a>

      </div>
    </div>
  </div>
  
  <script>
    function desactivar() {
        var respuesta = confirm("¿Está seguro de Desactivar este Empleo?");
        if (respuesta) {
            window.location.href = "{% url 'desactivar' p.id %}";
        } else {
          window.location.href = "{% url 'home' %}";
        }
    }

    function activar() {
        var respuesta = confirm("¿Está seguro de Activar este Empleo?");
        if (respuesta) {
            window.location.href = "{% url 'activar' p.id %}";
        } else {
          window.location.href = "{% url 'home' %}";
        }
    }
    </script>

<!-- <div class="card">
    <h5 class="card-header">{{p.titulo}}</h5>
    <div class="card-body">
      <h5 class="card-title">Contacto: {{p.email}}</h5>
      <p class="card-text">{{p.descripcion}}</p>
      <a href="{% url 'eliminar' p.id %}" class="btn btn-danger">Eliminar</a>
      <a href="{% url 'actualizar' p.id %}" class="btn btn-success">Actualizar</a>
    </div>
  </div> -->

  {%endfor%}
  {% endblock %}
