
{% extends 'partials/base.html' %}
{% load humanize %}

{% block content %}

<br>
<center>
  <h1>Lista de Postulantes</h1>
  <h3>Santo Domingo 2024</h3>
</center>

<br>
<div class="container-fluid col-sm-8 mb-6 mb-sm-2">
    <div class="card">
      <div class="card-body">
        <h2>{{datosempleo.nombre_empleo}}</h2>
        <p>Postulantes: </p>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha Postulación</th>
                        <th scope="col">Postulante</th>
                        <th scope="col">Calificación</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {%for p in postulados%}
            
                   
                    <tr class="">
                        <td scope="row"></td>
                        <td>{{p.estado_postulado}}</td>
                        <td>{{p.fecha_postulado}}</td>
                        <td>{{p.id_postulados_fk}}</td>
                        <td>{{p.calificacion}}</td>
                        <td><a href="{% url 'descripcionpostulante' p.id_postulados_fk.pk %}"><button class="btn btn-success"><i class="ti-pencil"></i></button></a></td>
                    </tr>

                    {%endfor%}
                </tbody>
            </table>
        </div>
        
       


      </div>
    </div>
  </div>



  {% endblock %}