{% extends 'partials/base.html' %}

{% block content %}



 <br>   
<div class="container mt-4">
    <div class="card">
      
      <div class="card-body" style="text-align:left;">
      
        <h5 class="card-title">Mis Postulaciones</h5>
        <div
                class="table-responsive">
                <table class="table table-primary">
                        <thead>
                                <tr>
                                        <th scope="col">Cargo</th>
                                        <th scope="col">Fecha de postulación</th>
                                        <th scope="col">Estado de la Vacante</th>
                                        <th scope="col">Modalidad de Trabajo</th>
                                        <th scope="col">Duración de Contrato</th>
                                        <th scope="col">Ciudad</th>
                                </tr>
                        </thead>
                        <tbody>
                            {% for postulado in c.postulados %}
                                <tr class="">
                                        <td>{{postulado.id_empleo_fk }}</td>
                                        <td>{{postulado.fecha_postulado }}</td>
                                        <td>{{postulado.estado_postulado}}</td>
                                        <td>{{postulado.id_empleo_fk.modalidad_empleo}}</td>
                                        <td>{{postulado.id_empleo_fk.tiempo_empleo}} meses</td>
                                        <td>{{postulado.id_empleo_fk.id_ciudad_fk}}</td>

                                </tr>
                                {% endfor %}
                        </tbody>
                </table>
        </div>
        
      </div>
    </div>
</div>
<div class="container mt-4 mb-5">
    <div class="card">
            <a href="{% url 'home' %}" class="btn btn-outline-primary">Regresar</a>
            </div>

    </div>
</div>
    
{% endblock %}