{% extends 'partials/base.html' %}
{% load humanize %}

{% block content %}

<br>
<center>
  <h1>Lista de Postulantes</h1>
  <h3>Santo Domingo</h3>
</center>

<style>

    .table{ 
        text-align: center;
    }
</style>
<br>
<div class="container-fluid col-sm-8 mb-6 mb-sm-2">


    <div class="card">
      <div class="card-body">
        <a href="{% url 'home'%}" class="btn btn-info">Regresar</a>
        <h2>{{datosempleo.nombre_empleo}}</h2>

        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha Postulación</th>
                        <th scope="col">Postulante</th>
                        <th scope="col">Calificación</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Entrevistar</th>
                        <th scope="col">Contratar</th>
                        <th scope="col">Rechazar</th>
                    </tr>
                </thead>
                <tbody>
                    {%for p in postulados%}
            
                   
                    <tr class="">
                        <td scope="row">{{forloop.counter}}</td>
                        <td>{{p.estado_postulado}}</td>
                        <td>{{p.fecha_postulado}}</td>
                        <td>{{p.id_postulados_fk}}</td>
                        <td>{{p.calificacion}}</td>
                        <td><a href="{% url 'descripcionpostulante' p.id_postulados_fk.pk p.id_empleo_fk.pk %}" class=" btn btn-info"><i class="ti-eye"></i></a></td>
                        <td><a href="{% url 'entrevista' p.id_postulados_fk.pk p.id_empleo_fk.pk %}" class=" btn btn-warning"><i class="ti-user"></i></a></td>
                        {% if p.estado_postulado == "Entrevista" %}
                        <td><a href="{% url 'contratar' p.id_postulados_fk.pk p.id_empleo_fk.pk %}" class="btn btn-success"><i class="ti-check"></i></a></td>
                        <td><a href="{% url 'rechazar' p.id_postulados_fk.pk p.id_empleo_fk.pk %}" class="btn btn-danger"><i class="ti-alert"></i></a></td>
                        {% else%}
                        <td><a href="{% url 'contratar' p.id_postulados_fk.pk p.id_empleo_fk.pk %}" class="btn btn-success disabled"><i class="ti-check"></i></a></td>
                        <td><a href="{% url 'rechazar' p.id_postulados_fk.pk p.id_empleo_fk.pk %}" class="btn btn-danger disabled"><i class="ti-alert"></i></a></td>
                        {% endif %}

                    </tr>

                    {%endfor%}
                </tbody>
            </table>
        </div>
        
       


      </div>
    </div>
  </div>


{% endblock %}

<!-- {% block javascript %}
  <script>
    $('#exampleModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
    })
  </script>
{% endblock %} -->
