{% extends 'partials/base.html' %}

{% block content %}
<br>
<center>
<h1>Subir Curriculum</h1>

<div class="col-4 mb-4" >

<form action="" method="POST" enctype="multipart/form-data">
{{ form.as_p }}
{% csrf_token %}
<button class="btn btn-success" type="submit">Guardar</button>
<a href="{% url 'index' %}"><button class="btn btn-danger" type="button">Cancelar</button></a>

</form>
 
{% if postulante.curriculum %}
    <p>Archivo existente:</p>
    <a href="{{ postulante.curriculum.url }}" download><button class="btn btn-success" type="">Ver Curriculum</button></a>
{% else %}
    <p>No hay archivo existente.</p>
{% endif %}

</div>
<br><br>
</center>
{% endblock %}